<style>
    .toggDiv {
        position: relative;
    }

    .toggIcon {
        position: absolute;
        right: 10px;
        top: 42px;
        cursor: pointer;
    }

    .error-message {
        color: red;
        display: none;
    }
</style>
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h4 class="mb-4">Change Password</h4>
        <form id="change-password-form" action="/account/change-password" method="POST">
            <div class="form-row">
                <% console.log(user)%>
                    <% if (user && !user.googleId) { %>
                        <div class="form-group col-md-8 toggDiv">
                            <label for="current-password">Current Password:</label>
                            <input type="password" id="current-password" name="currentPassword" class="form-control"
                                required>
                            <!-- Show password checkbox -->
                            <i id="toggleIconCurrPass" class="fa fa-eye toggIcon"
                                onclick="togglePasswordVisibility('current-password','toggleIconCurrPass')"></i>
                        </div>
                        <% } %>

                            <div class="form-group col-md-8 toggDiv">
                                <label for="new-password">New Password:</label>
                                <input type="password" id="new-password" name="newPassword" class="form-control"
                                    required>
                                <i id="toggleIconNewPass" class="fa fa-eye toggIcon"
                                    onclick="togglePasswordVisibility('new-password','toggleIconNewPass')"></i>
                                <span id="new-password-error" class="error-message"></span>
                            </div>
                            <div class="form-group col-md-8 toggDiv">
                                <label for="confirm-password">Confirm New Password:</label>
                                <input type="password" id="confirm-password" name="confirmPassword" class="form-control"
                                    required>
                                <i id="toggleIconConfNewPass" class="fa fa-eye toggIcon"
                                    onclick="togglePasswordVisibility('confirm-password','toggleIconConfNewPass')"></i>
                                <span id="confirm-password-error" class="error-message"></span>
                            </div>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
        <%if(typeof message !=='undefined' ){%>
            <h4 class="text-center" style="color: red;">
                <%= message %>
            </h4>
            <% } %>
    </div>
</div>